form {
    display: flex;
    flex-direction: column;
    
}

mat-card-title {
    margin-bottom: 8px;
}

.login-form {
    margin-top: 15px;
}


button {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.btn {
    margin-left: 2em;
}

mat-card {
    display: flex;
    align-items: center;
    width: 100%;
}